<div class="row">
  <div *ngFor="let card of cards">
    <div
      class="card text-white bg-{{ card.color }} mb-3"
      style="max-width: 18rem; margin-left: 10px"
    >
      <div class="card-header">{{ card.title }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ card.subtitle }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TIPO</th>
      <th scope="col">NOME</th>
      <th scope="col">VALOR</th>
      <th scope="col">DATA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mov of movimentacoes">
      <th scope="row">{{ mov.tipo }}</th>
      <td>{{ mov.nome }}</td>
      <td>{{ mov.valor }}</td>
      <td>{{ mov.data }}</td>
    </tr>
  </tbody>
</table>
